.lineChartAndCustomComponent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 2rem;

  .customLineChart {
    border: 1px solid;
    flex: 1;
    width: 100%;
  }

  .customComponent {
    flex-basis: 40%;
  }

  @media (min-width: 1200px) {
    flex-direction: row;

    .customLineChart {
      flex: 1;
    }
  }
}
